% rebase('templates/base.html', title='Listado')
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr>
  <td width="30%">Cfdi</td>
  <td width="40%">Emisor/Receptor</td>
  <td widht="20%">Folio</td>
  <td width="10%">Fecha</td>
</tr>  
% for dato in datos:
<tr>
  <td><a href="/factura/{{ dato[1] }}.xml" style="font-size:9px">{{ dato[1] }}</a></td>
  <td>{{ dato[2] }} /  {{ dato[3] }}</td>
  <td>{{ dato[4] }}</td>
  <td>{{ dato[5] }}</td>
</tr>  
% end
</table>

<div id="next">
% if anterior > -1:
  <a href="?desde={{anterior}}">&lt;&lt; {{ anterior }}</a>
% end
  <a href="?desde={{siguiente}}">{{ siguiente }} &gt;&gt;</a>
</div>
